{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {{ include('players/admin_players/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_players_index') }}">back to list</a>

    {{ include('players/admin_players/_delete_form.html.twig') }}
{% endblock %}
