{% extends 'base.html.twig' %}

{% from '_layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="ui grid">
  <div class="four column row">
    <div class="left floated column">
		<h1 class="ui header">
			{{ title }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
		</h1>
	</div>
  <div class="right floated column">
		{% include "_layouts/search.html.twig" %}
	</div>
  </div>
</div>

<div class="ui divider"></div>

<table>
<th>
{# sorting of properties based on query components #}
    <th>Sort by:</th>
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
    <th{% if pagination.isSorted('p.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'p.username') }}</th>
    {# <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th> #}
</th>
</table>

<div class="ui link five doubling cards pagination-feed">
	{% for player in pagination %}
	<a class="card pagination-item" href="{{ player.url_player }}">
		<div class="image">
			<img class="" src="{{ player.url_avatar }}" title="{{ player.username }}" oncontextmenu="return false;">
		</div>
		<div class="content">
			<span class="description">{{ player.username }}</span>
			{% if player.geoip %}
			<p><i class="flag {{ player.geoip.country.isoCode|lower }}" alt=""></i>
				{{ player.geoip.country.name }}
			{% endif %}
		</div>
	</a>
	{% endfor %}
</div>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render(pagination) }}

{% endblock %}