{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="ui grid">
  <div class="four column row">
    <div class="left floated column">
		<h1 class="ui header">
			{{ title }}</span>
		</h1>
	</div>
  <div class="right floated column">
		{% include "servers/layouts/search.html.twig" %}
	</div>
  </div>
</div>

<hr>

<div class="ui three column grid">
	<div class="column">
		<div class="ui segment">
			<div class="ui divided list">
				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">IP</a>
						<div class="description">{{ server.ip }}</div>
					</div>
				</div>

				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">Name</a>
						<div class="description">{{ server.name }}</div>
					</div>
				</div>

				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">Map</a>
						<div class="description">{{ server.map }}</div>
					</div>
				</div>

				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">Mod</a>
						<div class="description">{{ server.modname }}</div>
					</div>
				</div>

				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">Descriptor</a>
						<div class="description">{{ server.descriptor }}</div>
					</div>
				</div>

				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">Players</a>
						<div class="description">{{ server.players }} / {{ server.max_players }}</div>
					</div>
				</div>

				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">Type</a>
						<div class="description">{{ server.type }}</div>
					</div>
				</div>

				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">OS</a>
						<div class="description">{{ server.os }}</div>
					</div>
				</div>

				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">Bots</a>
						<div class="description">{{ server.bots }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column center aligned">
		<img class="map_image" src="{{ server.img_map }}">
	</div>
	<div class="column">
		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th><b>User</b></th>
					<th><b>Frags</b></th>
					<th><b>Time</b></th>
				</tr>
			</thead>
			<tbody>
				{% for player in server.players_list %}
				<tr>
					<td>{{ player.plr_name }}</td>
					<td>{{ player.plr_frag }}</td>
					<td>{{ player.plr_time }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
