{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="ui two column grid">
  	<div class="column">
		<h1 class="ui header">
			{{ title }}</span>
		</h1>
	</div>
  	<div class="right aligned column">
		{% include "controller/servers/layouts/search.html.twig" %}
  	</div>
</div>

<hr>

<div class="ui three column grid">
	<div class="column">
		<div class="ui segment">
			<div class="ui divided list">
				{% for key, info in serverInfo %}
				<div class="item">
					<i class="icon tint"></i>
					<div class="content">
						<a class="header">{{ key }}</a>
						<div class="description">{{ info }}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="column center aligned">
		<img class="map_image" src="{{ server.img_map }}">
	</div>
	<div class="column">
		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th><b>User</b></th>
					<th><b>Frags</b></th>
					<th><b>Time</b></th>
				</tr>
			</thead>
			<tbody>
				{% for player in serverPlayers %}
				<tr>
					<td>{{ player.Name }}</td>
					<td>{{ player.Frags }}</td>
					<td>{{ player.TimeF }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
