{# templates/cstrike/about/index.english.html.twig #}
    
<h1 class="site_name" align="center">
	K-lan
	<p>Counter-Strike</p>
</h1>

 <div class="ui grid">
	<div class="thirteen wide stretched column">

		<div class="ui tab segment active" data-tab="info">
			{# <img src="{{ asset('build/images/home_info.png') }}"> #}
			<p>Here you can easily find the server you like!
			<p>Like non-stop shooting - welcome to CSDM.
			<p>You are a supporter of the classic game - you are always welcome to [K. lan] Classic.
			<p>You like the atmosphere of fear and terror -
			<br>try to save the world from hordes of zombies on our Zombie Plague server!
		</div>
		<div class="ui tab segment" data-tab="cs">
			<img src="{{ asset('build/images/home_cs.png') }}">
			<p>This is a classic server without any extra plugins
			interfere with the game. On our server you will not be distracted,
			nothing will prevent you to kill the enemy as quickly as possible and efficiently.
			<p><b>cs.klan-hub.ru:27016</b>
		</div>
		<div class="ui tab segment" data-tab="dm">
			<img src="{{ asset('build/images/home_dm.png') }}">
			<p>the Uniqueness of our DeathMatch'and
			that server is unique mod Adrenalin UT Style
			what makes the game more dynamic, exciting and interesting.
			<p><b>cs.klan-hub.ru:27015</b>
		</div>
		<div class="ui tab segment" data-tab="kz">
			<img src="{{ asset('build/images/home_kz.png') }}">
			<p>Compete in the speed of passing cards
			on our server Kreedz, You may be able
			to set a new World Record.
			<br>Only the server has more than 4800 cards.
		</div>
		<div class="ui tab segment" data-tab="zm">
			<img src="{{ asset('build/images/home_zm.png') }}">
			<p>Zombie Plague with unique stats, unique classes
			and unique set of extra items. All makes the game
			absorbing the atmosphere of the invasion of hordes of zombies, to stop which
			can only you.
			<p><b>cs.klan-hub.ru:27018</b>
		</div>
	</div>
	<div class="three wide column">
		<div class="home ui vertical fluid right tabular menu">
			<div class="item active" data-tab="info">Info</div>
			<div class="item" data-tab="cs">Classic</div>
			<div class="item" data-tab="dm">CSDM</div>
			<div class="item" data-tab="kz">Kreedz</div>
			<div class="item" data-tab="zm">Zombie Plague</div>
		</div>	
	</div>
</div>