{% extends 'base.html.twig' %}

{% import 'layouts/infinite_scroll.html.twig' as iscroll %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header center aligned">
	{{ title }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
</h1>

<div class="ui divided items pagination-feed">
	{% for achiev in pagination %}
	
	{% set completer = achiev.completed|round(2, 'floor') %}

	<div class="link item pagination-item">
		<div class="ui tiny image">
			<img src="{{ gravatar(achiev.aId)~'&d=identicon' }} ">
		</div>
		<div class="content">
			<a class="header" href="{{ url('achiev', {id: achiev.aId}) }}">{{ achiev.name }}</a>
			<div class="description">
				{{ achiev.desc }}
			</div>
			<br>
			<div class="ui indicating demo progress active" data-percent="{{ completer }}">
				<div class="bar" style="transition-duration: 300ms; width: {{ completer }}%;"></div>
				<div class="label">{{ completer }}% Done</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endblock %}
