{% extends 'base.html.twig' %}

{% import 'layouts/infinite_scroll.html.twig' as iscroll %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header center aligned">
	{{ title }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
</h1>

<div class="ui link five doubling cards pagination-feed">
	{% for player in pagination %}
	<a class="card pagination-item" href="{{ url('achievs_player', {id: player.id}) }}">
		<div class="image">
			<img class="" src="{{ gravatar(player.id)~'&d=robohash' }}" title="{{ player.username }}" oncontextmenu="return false;">
		</div>
		<div class="content">
			<span class="description">
				{{ player.username }}
				<p><l>Total:</l> {{ player.achiev_total }}
			</span>
		</div>
	</a>
	{% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endblock %}