{% extends 'base.html.twig' %}

{% from 'layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }} :: {{ pagination.items.0.plname }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
</h1>

<div class="ui divided items pagination-feed">
	{% for achiev in pagination %}

	{% set url_achiev = url('achiev', {id: achiev.id}) %}
	{% set img_achiev = gravatar(achiev.id)~'&d=identicon' %}

	<div class="link item pagination-item">
		<div class="ui tiny image">
			<img src="{{ img_achiev }}">
		</div>
		<div class="content">
			<a class="header" href="{{ url_achiev }}">{{ achiev.name }}</a>
			<div class="description">
				{{ achiev.desc }}
			</div>
			<br>
			{% if achiev.width %}
			<div class="ui indicating demo progress active" data-percent="{{ achiev.width }}">
				<div class="bar" style="transition-duration: 300ms; width: {{ achiev.width }}%;"></div>
				<div class="label">{{ achiev.progress }}/{{ achiev.count }} Done</div>
			</div>
			{% endif %}
			{% if achiev.unlocked %}
			<div class="unlocked_time">
				<l>Unlocked</l>{{ achiev.unlocked }}
			</div>
			{% endif %}			
		</div>
	</div>
	{% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render() }}

{% endblock %}
