{% extends 'base.html.twig' %}

{% from 'layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header center aligned">
	{{ title }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
</h1>

<div class="ui link five doubling cards pagination-feed">
	{% for player in pagination %}

	{% set url_player = url('achievs_player', {id: player.id}) %}
	{% set img_player = gravatar(player.id)~'&d=robohash' %}

	<a class="card pagination-item" href="{{url_player }}">
		<div class="image">
			<img class="" src="{{ img_player }}" title="{{ player.username }}" oncontextmenu="return false;">
		</div>
		<div class="content">
			<span class="description">
				{{ player.username }}
				<p><l>Total:</l> {{ player.achiev_total }}
			</span>
		</div>
	</a>
	{% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render() }}

{% endblock %}