{% extends 'base.html.twig' %}

{% from '_layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="ui header">
	<p>Player :: <i>{{ player.username }}</i></p>
</h1>

<div class="ui top attached tabular menu">
	<div class="item active">
		Not jumped <span class="ui label">{{ pagination.getTotalItemCount }}</span>
	</div>
	<div class="item">
		<a href="kreedz/players/{{ player.id }}?type=all">Jumped</a>
	</div>
</div>


<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th>Map</th>
				<th>Player</th>
				<th>Time</th>
				<th>Checkpoints</th>
				<th>Teleports</th>
				<th>Weapon</th>
			</tr>
		</thead>
		<tbody class="pagination-feed">
			{% for map in pagination %}
			<tr class="pagination-item">
				<td>
					<i class="icon {{ map.icon }} diff-dot" style="color: {{ map.dcolor }}" title="{{ map.dname }}"></i>
					<a href="{{ map.url_map }}">{{ map.mapname }}</a>
				</td>
				<td><a href="{{ map.url_player }}">{{ map.username }}</a></td>
				<td>{{ map.timed }}</td>
				<td><div class="ui {{ map.color_nogc }} horizontal label">{{ map.cp }}</div></td>
				<td><div class="ui {{ map.color_nogc }} horizontal label">{{ map.go_cp }}</div></td>
				<td class="{{ map.color_wpn }}"><div class="wpn wpn-{{ map.weapon }}">&nbsp;</div></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render(pagination) }}

{% endblock %}
