{% extends 'base.html.twig' %}

{% import 'layouts/infinite_scroll.html.twig' as iscroll %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="ui two column grid">
		<div class="left floated column">
				<h1 class="ui header">
						{{ title }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
				</h1>
		</div>
		<div class="right floated right aligned column">
				{% include "layouts/search.html.twig" %}
		</div>
</div>

<div class="ui divider"></div>

<table>
<th>
{# sorting of properties based on query components #}
    <th>Sort by:</th>
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
    <th{% if pagination.isSorted('p.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'p.username') }}</th>
    {# <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th> #}
</th>
</table>

<div class="ui link five doubling cards pagination-feed">
	{% for player in pagination %}
	<a class="card pagination-item" href="{{ url('players_player', {id: player.id}) }}">
		<div class="image">
			<img class="" src="{{ gravatar(player.id, '160')~'&d=robohash' }}" title="{{ player.username }}" oncontextmenu="return false;">
		</div>
		<div class="content">
			<span class="description">{{ player.username }}</span>
			{% if player.geoip %}
			<p><i class="flag {{ player.geoip.country.isoCode|lower }}" alt=""></i>
				{{ player.geoip.country.name }}
			{% endif %}
		</div>
	</a>
	{% endfor %}
</div>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endblock %}