{% extends 'base.html.twig' %}

{% from '_layouts/cup_num.html.twig' import cup_num %}
{% from '_layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }}
</h1>

<div class="ui top attached tabular menu">
	{% for comm in comm_list %}
	<a href="{{ comm.url_comm }}" class="item {{ comm.active }}">
		{{ comm.fullname }}
		{% if comm.totals %}<span class="ui label">{{ comm.totals }}</span>{% endif %}
	</a>
	{% endfor %}
</div>

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th width="15px">№</th>
				<th>player</th>
				<th>All</th>
			</tr>
		</thead>

		<tbody class="pagination-feed">
			{% for player in pagination %}
			<tr class="pagination-item">
				<td>
					{{ cup_num(player.cup_num) }}
				</td>
				<td><a href="{{ player.url_player }}">{{ player.player }}</a></td>
				<td>{{ player.count }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render(pagination) }}

{% endblock %}
