{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }}
</h1>

<div class="ui top attached tabular menu">
	{% for comm in comm_list %}
	<a href="{{ comm.url_comm }}" class="item {{ comm.active }}">
		{{ comm.fullname }}
		{% if comm.totals %}<span class="ui label">{{ comm.totals }}</span>{% endif %}
	</a>
	{% endfor %}
</div>

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th width="15px">№</th>
				<th>player</th>
				<th>All</th>
			</tr>
		</thead>

		{% set cup_color = {1:"gold", 2:"saddlebrown", 3:"silver"} %}

		<tbody class="pagination-feed">
			{% for player in pagination %}
			<tr class="pagination-item">
				<td>
					{% if player.cup_num < 4 %} 
    					<i class="icon trophy" style="color: {{ cup_color[player.cup_num] }}" title="{{ player.cup_num }}"></i>
					{% else %}
						{{ player.cup_num }}
					{% endif %}
				</td>
				<td><a href="{{ player.url_player }}">{{ player.player }}</a></td>
				<td>{{ player.count }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% include "_layouts/infinite_scroll.html.twig" %}

{% endblock %}
