{% extends 'base.html.twig' %}

{% from '_layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="ui header center aligned">
	{{ title }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
</h1>

<div class="ui divided items pagination-feed">
	{% for achiev in pagination %}
	<div class="link item pagination-item">
		<div class="ui tiny image">
			<img src="{{ achiev.img_achiev }}">
		</div>
		<div class="content">
			<a class="header" href="{{ achiev.url_achiev }}">{{ achiev.name }}</a>
			<div class="description">
				{{ achiev.desc }}
			</div>
			<br>
			<div class="ui indicating demo progress active" data-percent="{{ achiev.completer }}">
				<div class="bar" style="transition-duration: 300ms; width: {{ achiev.completer }}%;"></div>
				<div class="label">{{ achiev.completer }}% Done</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render(pagination) }}

{% endblock %}
