{% extends 'base.html.twig' %}

{% import 'layouts/infinite_scroll.html.twig' as iscroll %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
</h1>

{% if pagination is empty %}

<h3 align="center">
	Duels not found
</h3>

{% else %}

<table class="ui selectable celled table">
	<thead>
		<tr>
			<th>Map</th>
			<th>Winner</th>
			<th>Looser</th>
			<th>Winner Point</th>
			<th>Looser Point</th>
		</tr>
	</thead>
	<tbody class="pagination-feed">
		{% for duel in pagination %}
		<tr class="pagination-item">
			<td scope="row">
				<a href="{{ url('kreedz_map', {map: duel.map}) }}">
					{{ duel.map }}
				</a>
			</td>
			<td>
				<a href="{{ url('kreedz_player', {id: duel.winnerId}) }}">
					{{ duel.winnerName }}
				</a>
			</td>
			<td>
				<a href="{{ url('kreedz_player', {id: duel.looserId}) }}">
					{{ duel.looserName }}
				</a>
			</td>
			<td>{{ duel.winnerPoints }}</td>
			<td>{{ duel.looserPoints }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endif %}

{% endblock %}
