{% extends 'base.html.twig' %}

{% from 'layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="ui header">
	{{ title }} <a class="ui button" href="{{ mapinfo.url_map }}">Info</a>
</h1>

<div class="ui top attached tabular menu">
	{% for type in rtypes %}
	<a href="{{ type.url }}" class="item {{ type.active }}">
		{{ type.caption }} {% if type.totals %}<span class="ui label">{{ type.totals }}</span>{% endif %}
	</a>
	{% endfor %}
	<div class="right menu">
		<div class="item">
			<b>Challenge</b>: {{ mapinfo.dname }}
		</div>
		<div class="item">
			<b>Type</b>: {{ mapinfo.mtype }}
		</div>
	</div>
</div>

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th width="30" align="center">№</th>
				<th>Player</th>
				<th>Time</th>
				<th>Checkpoints</th>
				<th>Teleports</th>
				<th>Weapon</th>
			</tr>
		</thead>
		<tbody class="pagination-feed">

			{% if maprec %}
			<tr class="pagination-item">
				{% for rec in maprec %}
					{% if rec.part %}
					<td><b><a href="{{ rec.url }}" target="_blank">{{ rec.name|upper }}</a></b></td>
					{% endif %}
					<td>
						<a href="{{ rec.url_player }}">{{ rec.player }}</a> 
						<i class="flag {{ rec.country }}" title="{{ rec.country }}"></i></td>
					<td>{{ rec.timed }}</td>
					<td colspan="2">{{ rec.mappath }}</td>
					<td><div class="wpn wpn-29">&nbsp;</div></td>
				{% endfor %}
				
			</tr>
			{% endif %}

			{% for player in pagination %}
			<tr class="pagination-item">
				<td>{{ player.cup_num }}</td>
				<td><a href="{{ player.url_player }}">{{ player.username }}</a></td>
				<td>{{ player.timed }}</td>
				<td><div class="ui {{ player.color_nogc }} horizontal label">{{ player.cp }}</div></td>
				<td><div class="ui {{ player.color_nogc }} horizontal label">{{ player.go_cp }}</div></td>
				<td class="{{ player.color_wpn }}"><div class="wpn wpn-{{ player.weapon }}">&nbsp;</div></td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render() }}

{% endblock %}
