{% extends 'base.html.twig' %}

{% import 'layouts/infinite_scroll.html.twig' as iscroll %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }} 
	<a class="ui button" href="{{ url('records_map', {map: mapinfo.mapname}) }}">Info</a>
</h1>

<div class="ui top attached tabular menu">
	{% for rtype in rtypes %}
	<a href="{{ url('kreedz_map', {map: mapinfo.mapname, type: rtype.type}) }}" class="item {{ rtype.active }}">
		{{ rtype.caption }} {% if rtype.totals %}<span class="ui label">{{ rtype.totals }}</span>{% endif %}
	</a>
	{% endfor %}
	<div class="right menu">
		<div class="item">
			<b>Challenge</b>: {{ mapinfo.dname }}
		</div>
		<div class="item">
			<b>Type</b>: {{ mapinfo.mtype }}
		</div>
	</div>
</div>

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th width="30" align="center">№</th>
				<th>Player</th>
				<th>Time</th>
				<th>Checkpoints</th>
				<th>Teleports</th>
				<th>Weapon</th>
			</tr>
		</thead>
		<tbody class="pagination-feed">

			{% if maprec %}
			<tr class="pagination-item">
				{% for rec in maprec %}
					{% if rec.part %}
					<td><b><a href="{{ rec.url }}" target="_blank">{{ rec.name|upper }}</a></b></td>
					{% endif %}
					<td>
						<a href="{{ url('records_player', {name: rec.player, comm: rec.comm}) }}">
							{{ rec.player }}
						</a> 
						<i class="flag {{ rec.country }}" title="{{ rec.country }}"></i></td>
					<td>{{ rec.timed }}</td>
					<td colspan="3">{{ rec.mappath }}</td>
				{% endfor %}
				
			</tr>
			{% endif %}

			{% for player in pagination %}
			<tr class="pagination-item">
				<td>{{ player.cup_num }}</td>
				<td>
					<a href="{{ url('kreedz_player', {id: player.player}) }}">
						{{ player.username }}
					</a>
				</td>
				<td>{{ player.timed }}</td>
				<td><div class="ui {{ player.color_nogc }} horizontal label">{{ player.cp }}</div></td>
				<td><div class="ui {{ player.color_nogc }} horizontal label">{{ player.go_cp }}</div></td>
				<td><div class="wpn wpn-{{ player.weapon }}">&nbsp;</div></td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endblock %}
