{% extends 'base.html.twig' %}

{% from 'layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="ui header">
	{{ title }}
</h1>

<div class="ui stackable three column grid">
	<div class="column">
		{% for rec in maprec %}
		<p><div>
			{% if rec.part %}
			<b><a href="{{ rec.url }}" target="_blank">{{ rec.fullname }}</a></b>:
			{% endif %}
			<b>{{ rec.mappath }}</b> {{ rec.timed }} <b>{{ rec.player }}</b>&nbsp;
			<i class="flag {{ rec.country }}" title="{{ rec.country }}"></i>
		</div>
		{% endfor %}
	</div>
	<div class="column">
		<p><div>
			<b>Challenge</b>: <span class="mapinfo">{{ mapinfo.dname }}</span>
			<p><i class="icon icon-{{ mapinfo.icon }}" style="color: {{ mapinfo.dcolor }};"></i>
		</div>
		<div>
			<b>Type</b>: {{ mapinfo.mtype }}
		</div>
	</div>
	<div class="column right aligned">
		<img  class="map_image" src="{{ mapinfo.img_map }}">
	</div>
</div>

<div class="ui top attached tabular menu">
	{% for type in rtypes %}
	<a href="{{ type.url }}" class="item {{ type.active }}">
		{{ type.caption }} {% if type.totals %}<span class="ui label">{{ type.totals }}</span>{% endif %}
	</a>
	{% endfor %}
</div>

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th width="30" align="center">№</th>
				<th>Player</th>
				<th>Time</th>
				<th>Checkpoints</th>
				<th>Teleports</th>
				<th>Weapon</th>
			</tr>
		</thead>
		<tbody class="pagination-feed">
			{% for player in pagination %}
			<tr class="pagination-item">
				<td>{{ player.cup_num }}</td>
				<td><a href="{{ player.url_player }}">{{ player.username }}</a></td>
				<td>{{ player.timed }}</td>
				<td><div class="ui {{ player.color_nogc }} horizontal label">{{ player.cp }}</div></td>
				<td><div class="ui {{ player.color_nogc }} horizontal label">{{ player.go_cp }}</div></td>
				<td class="{{ player.color_wpn }}"><div class="wpn wpn-{{ player.weapon }}">&nbsp;</div></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render(pagination) }}

{% endblock %}
