{% extends 'base.html.twig' %}

{% import 'layouts/infinite_scroll.html.twig' as iscroll %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
</h1>

<div class="ui link five doubling cards pagination-feed">
	{% for map in pagination %}
	<span class="card pagination-item">
		<div class="image">
			<img  src="{{ asset(map.mapname ~'.jpg', 'maps') }}" 
				onerror="this.src='{{ asset('noimage.png', 'maps') }}'"
				title="{{ map.mapname }}">
		</div>
		<div class="content">
			<a class="description">{{ map.mapname }}</a>
		</div>
	</span>
	{% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endblock %}
