{% extends 'base.html.twig' %}

{% from 'layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="ui header">
	{{ title }}
</h1>

<div class="ui top attached tabular menu">
	{% for rtype in rtypes %}
	<a href="{{ rtype.url }}" class="item {{ rtype.active }}">{{ rtype.caption }}</a>
	{% endfor %}

	<div class="right menu">
		<div class="item">
			<a class="ui button" href="{{ url_norec }}">Not jumped</a>
		</div>
		<div class="item">
			{% include "layouts/search.html.twig" %}
		</div>
	</div>
</div>

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th>Map</th>
				<th>Time</th>
				<th>Checkpoints</th>
				<th>Teleports</th>
				<th>Weapon</th>
			</tr>
		</thead>
		<tbody class="pagination-feed">
			{% for map in pagination %}
			<tr class="pagination-item">
				<td>
					<i class="icon {{ map.icon }} diff-dot" style="color: {{ map.dcolor }}" title="{{ map.dname }}"></i>
					<a href="{{ map.url_map }}">{{ map.map }}</a>
				</td>
				<td>{{ map.timed }}</td>
				<td><div class="ui {{ map.color_nogc }} horizontal label">{{ map.cp }}</div></td>
				<td><div class="ui {{ map.color_nogc }} horizontal label">{{ map.go_cp }}</div></td>
				<td class="{{ map.color_wpn }}"><div class="wpn wpn-{{ map.weapon }}">&nbsp;</div></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render() }}

{% endblock %}
