{% extends 'base.html.twig' %}

{% import 'layouts/infinite_scroll.html.twig' as iscroll %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }} <span class="ui label">{{ pagination.getTotalItemCount }}</span>
</h1>

<table class="ui selectable celled table">
	<thead>
		<tr>
			<th>Map</th>
			<th>World record</th>
			<th>Russian record <i class="flag ru" title="ru"></i></th>
			<th>Server Record</th>
		</tr>
	</thead>
	<tbody class="pagination-feed">
		{% for record in pagination %}
		<tr class="pagination-item">
			<td>
				<a href="{{ url('records_map', {map: record.map}) }}">
					{{ record.map }}{{ record.mappath }}
				</a>
			</td>
			<td>{{ record.wr_timed }} <b>{{ record.wr_player }}</b> <i class="flag {{ record.wr_country }}" title="{{ record.wr_country }}"></i></td>
			<td>{{ record.comm_timed }} <b>{{ record.comm_player }}</b></td>
			<td>{{ record.top_timed }} <b>{{ record.top_player }}</b> </td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endblock %}
