{% extends 'base.html.twig' %}

{% import 'layouts/infinite_scroll.html.twig' as iscroll %}
{% import 'controller/records/records/_community.html.twig' as community %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }}
</h1>

{% if pagination is empty %}

<h3 align="center">
	Demos not found
</h3>

{% else %}

{{ community.tabs(comm_info, comm_list, pagination, 'records_demos') }}

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th>Map</th>
				<th>player</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody class="pagination-feed">
			{% for demo in pagination %}
			<tr class="pagination-item">
				<td>
					<a href="{{ url('records_map', {map: demo.map}) }}">
						{{ demo.map }}{{ demo.mappath }}
					</a>
				</td>
				<td>
					<a href="{{ url('records_player', {name: demo.player}) }}">
						{{ demo.player }} <span class="flag {{ demo.country }}" title="{{ demo.country }}">&nbsp;</span>
					</a>
				</td>
				<td>{{ demo.timed }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endif %}

{% endblock %}
