{% extends 'base.html.twig' %}

{% from 'layouts/cup_num.html.twig' import cup_num %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="page-header" align="center">
	LJ Records
</h1>

<center>
	<div class="ui compact inverted menu">
		{% for page in pages %}
			<a class="item {{ page.active }}" href="{{ page.url_page }}">{{ page.fullname }}</a>
		{% endfor %}
	</div>
</center>

{% for jump in jumps %}
	{% if jump.head %}
		<h3 align="center">
			<p><i>{{ jump.type_name }}</i> <i class="ljs ljs-{{ jump.type }}" title="{{ jump.type_name }}"></i></p>
		</h3>

		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th style="width:5%;">№</th>
					<th style="width:30%;">Name</th>
					<th style="width:15%;">Distance</th>
					<th style="width:15%;">Block</th>
					<th style="width:15%;">Prestrafe</th>
					<th style="width:15%;">Speed</th>
				</tr>
			</thead>
	{% endif %}
			<tbody>
				<tr>
					<td style="width:5%;">{{ cup_num(jump.cup_num) }}</td>
					<td style="width:30%;">{{ jump.plname }}</td>
					<td style="width:15%;">{{ jump.distance }}</td>
					<td style="width:15%;">{{ jump.block }}</td>
					<td style="width:15%;">{{ jump.prestrafe }}</td>
					<td style="width:15%;">{{ jump.speed }}</td>
				</tr>
			</tbody>
	{% if jump.foot %}
		</table>
	{% endif %}
{% endfor %}

{% endblock %}
