{% extends 'base.html.twig' %}

{% from 'layouts/infinite_scroll.html.twig' import InfiniteScroll_render %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="ui header">
	{{ title }}
</h1>

<div class="ui top attached tabular menu">
	{% for comm in comm_list %}
	<a href="{{ comm.url_comm }}" class="item {{ comm.active }}">
		{{ comm.fullname }}
		{% if comm.totals %}<span class="ui label">{{ comm.totals }}</span>{% endif %}
	</a>
	{% endfor %}
</div>

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
			<th>Map</th>
			<th>Difficulty</th>
			<th>Type</th>
			<th>Authors</th>
			<th>Date</th>
			<th></th>
			</tr>
		</thead>
		<tbody class="pagination-feed">
			{% for map in pagination %}
			<tr class="pagination-item">
				<td>
					<i class="icon {{ map.icon }} diff-dot" style="color: {{ map.dcolor }};" title="{{ map.dname }}"></i>
					<a href="{{ map.url_map }}">{{ map.mapname }}</a>
				</td>
				<td>{{ map.dname }}</td>
				<td>{{ map.type }}</td>
				<td>{{ map.authors }}</td>
				<td>{{ map.date_old }}</td>
				<td><a href="{{ map.url_download }}" title="Download {{ map.mapname }}"><i class="download icon"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ InfiniteScroll_render() }}

{% endblock %}
