{% extends 'base.html.twig' %}

{% import 'layouts/infinite_scroll.html.twig' as iscroll %}
{% import 'controller/records/records/_community.html.twig' as community %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }}
</h1>

{{ community.tabs(comm_info, comm_list, pagination, 'records_maps') }}

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th>Map</th>
				<th>Difficulty</th>
				<th>Type</th>
				<th>Authors</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody class="pagination-feed">
			{% for map in pagination %}
			<tr class="pagination-item">
				<td>
					<i class="icon {{ map.icon }} diff-dot" style="color: {{ map.dcolor }};" title="{{ map.dname }}"></i>
					<a href="{{ url('records_map', {map: map.mapname}) }}">
						{{ map.mapname }}
					</a>
				</td>
				<td>{{ map.dname }}</td>
				<td>{{ map.type }}</td>
				<td>{{ map.authors }}</td>
				<td>{{ map.date_old }}</td>
				<td><a href="{{ map.download }}" title="Download {{ map.mapname }}"><i class="download icon"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endblock %}
