{% extends 'base.html.twig' %}

{% from 'layouts/cup_num.html.twig' import cup_num %}
{% import 'layouts/infinite_scroll.html.twig' as iscroll %}
{% import 'controller/records/records/_community.html.twig' as community %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="ui header">
	{{ title }}
</h1>

{{ community.tabs(comm_info, comm_list, pagination, 'records_players') }}

<div class="ui bottom attached segment">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th width="15px">№</th>
				<th>player</th>
				<th>All</th>
			</tr>
		</thead>

		<tbody class="pagination-feed">
			{% for player in pagination %}
			{% set cup_num = cup_num + 1 %}
			<tr class="pagination-item">
				<td>{{ cup_num(cup_num) }}</td>
				<td>
					<a href="{{ url('records_player', {name: player.player, comm: comm}) }}">
						{{ player.player }}
					</a>
				</td>
				<td>{{ player.count }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{{ iscroll.render() }}

{% endblock %}
