{% extends 'base.html.twig' %}

{% block title %}CsPlayers index{% endblock %}

{% block content %}
    <h1>CsPlayers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>IsActive</th>
                <th>Ip</th>
                <th>Lastip</th>
                <th>Lasttime</th>
                <th>Country</th>
                <th>Onlinetime</th>
                <th>SteamId</th>
                <th>AmxxFlags</th>
                <th>Flags</th>
                <th>Icq</th>
                <th>SteamId64</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cs_player in cs_players %}
            <tr>
                <td>{{ cs_player.id }}</td>
                <td>{{ cs_player.username }}</td>
                <td>{{ cs_player.password }}</td>
                <td>{{ cs_player.email }}</td>
                <td>{{ cs_player.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ cs_player.ip }}</td>
                <td>{{ cs_player.lastip }}</td>
                <td>{{ cs_player.lasttime }}</td>
                <td>{{ cs_player.country }}</td>
                <td>{{ cs_player.onlinetime }}</td>
                <td>{{ cs_player.steamId }}</td>
                <td>{{ cs_player.amxxFlags }}</td>
                <td>{{ cs_player.flags }}</td>
                <td>{{ cs_player.icq }}</td>
                <td>{{ cs_player.steamId64 }}</td>
                <td>{{ cs_player.role }}</td>
                <td>
                    <a href="{{ path('cs_players_show', {'id': cs_player.id}) }}">show</a>
                    <a href="{{ path('cs_players_edit', {'id': cs_player.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cs_players_new') }}">Create new</a>
{% endblock %}
